body {
    background-image: url('https://images.unsplash.com/photo-1543007630-9710e4a00a20?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80');
    font-family: 'Helvetica, Arial, sans-serif. Behold!';
}
.title{
    background-image: url("paper.gif")
}

.jumbotron {
    color: rgb(231, 226, 226);
    background: transparent url(../images/fire-flames-png--2500.png) no-repeat;
    background-size: 100% auto;
    background-position: center bottom;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}

.card-header {
    background-image: radial-gradient(#faab02d7, rgba(0,0,0, 0.7));
}

.card {
    border: none;
    text-align: center;
    background-color: rgba(218, 209, 209, 0.5);
}

#map {
    height: 400px;
    width: 100%;
    margin-top: 25px;
}

.search {
    background-image: radial-gradient(#faab02d7, rgba(0,0,0, 0.7));
    padding: 14px 20px;
    border: none;
    cursor: pointer;
}

.category-input{
    filter: alpha(opacity=50);
    opacity: -0.5;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;

}

button:hover {
    opacity: 0.8;
}

td {
    padding-right: 30px;
}
#table-container {
    display: flex;
    justify-content: center;
    background: white;
}
#results-table {
    display: none;
}
thead {
    font-size: 22px;
}
#details-div {
    display: block;
    height: 200px;
    overflow: scroll;
}
th:nth-child(1){
    width: 30%;
}
th:nth-child(2){
    width: 60%;
}
th:nth-child(3){
    width: 10%;
}
td:nth-child(1){
    width: 30%;
}
td:nth-child(2){
    width: 60%;
}
td:nth-child(3){
    width: 10%;
}